{% extends 'home.html' %}

{% block title %} TODO LIST - Edit todo {% endblock title %}


{% block content %}

    <h2 class="my-5 text-center">Django Todo App - Edit Todo</h3>

    <div class="row">
        <div class="col-md-6 col-lg-6 p-0 m-auto">
            <!-- To Do Form -->
            <form action="{% url 'edit_task' task.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <span style="display: flex;">
                        <input type="text" name="task" class="form-control" value="{{task.task}}">
                        <button type="submit" class="btn btn-primary" style="width: 200px;"> Update</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    
{% endblock content %}
